.wrapper-blogs {
    padding: 128px 128px;
    background: #292F36;
    height: 2404px;
    max-width: 1920px;
    hr {
        opacity: 40%;
    }

    .blogs-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "Ubuntu", sans-serif;
        gap: 16px;
        h1 {
            color: #12F7D6;
            font-size: 64px;
            font-weight: 300;
        }

        p {
            font-family: "IBM Plex Mono", serif;
            color: white;
            font-weight: 200;
            font-size: 16px;

        }
    }
    .blogs-header-btn{
        display: flex;
        justify-content: center;
        align-items: center;

        a{
            font-family: "Ubuntu", sans-serif;
            font-weight: 300;
            padding: 16px 32px;
            background: transparent;
            color: white;
            border:1px solid #12F7D6;
            border-radius: 32px;
            font-size: 20px;
            text-decoration: none;
        }
    }
}
section{
    padding: 64px 0px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    h1{
        font-size: 64px;
        font-family: "Ubuntu", sans-serif;
        font-weight: 300;
        color: #12F7D6;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 670px){
   section{
    h1{
        display: flex;
        align-items: start;
        text-align: left;
     
    }
   }
   .blogs-header{
    p{
        text-align: center;
    }
   }
   .wrapper-blogs {
    padding: 64px 24px !important;
    height: auto;   
}
}
@media screen and (max-width: 500px){

}