.header-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    padding-top: 64px;

    .header-text {
        h1 {
            color: #98FAEC;
            font-size: 117px;
            text-align: center;
        }
    }

    .header-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.profile-container {
    border: 4px solid white;
    border-radius: 160px 0px 160px 0px;
    border-left-color: #12F7D6;
    border-top-color: #12F7D6;
    width: 320px;
    height: 520px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
    font-family: "IBM Plex Mono", serif;

    .profile-header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 16px;
        color: white;

        h6 {
            font-size: 32px;
            font-weight: 300;
        }

        p {
            font-size: 14px;
        }
    }

}

.profile-details {
    display: flex;
    flex-direction: column;
    gap: 32px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        font-family: "IBM Plex Mono", serif;


        li {
            list-style: none;
            gap: 10px;
            display: flex;

            a {
                color: white;
                text-decoration: none;
            }
        }
    }

    .profile-actions {
        background: white;
        width: 227px;
        height: 56px;
        border-radius: 32px;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            font-size: 20px;
            display: flex;
            color: #292F36;
            gap: 16px;
            text-decoration: none;
        }
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: 60px;

    .intro-text {
        font-family: "Ubuntu", sans-serif;

        h1 {
            font-weight: 300;
            font-size: 64px;
            color: white;

            span {
                color: #12F7D6;
            }
        }
    }

    .about {
        display: flex;
        flex-direction: column;
        gap: 50px;
        font-family: "IBM Plex Mono", serif;

        p {
            font-weight: 300;
            font-size: 16px;
            color: white;
            opacity: 90%;
        }

        a {
            display: flex;
            align-items: center;
            gap: 16px;
            font-family: "IBM Plex Mono", serif;
            font-size: 32px;
            color: #12F7D6;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}
.intro-container{
    display: flex;
    gap: 24px;
}
@media screen and (max-width: 1280px) {
   .header-info{
    display: flex;
    flex-direction: column;
    gap: 82px;
   }
   .about-container{
    .about-header{
        .about-info{
            width: 500px;
        }
    }
   }
   .language-container{
     display: flex;
     gap: 100px !important;

     .tailwind-html{
        display: flex;
        gap: 100px !important;
   
     }
     .js-vue{
        display: flex;
        gap: 100px !important;
   
     }
   }
}
@media screen and (max-width: 948px) {
    .about-container{
        .about-header{
            .about-info{
                width: 600px;
            }
        }
       }
    .language-container{
        display: flex;
        gap: 40px !important;

        .tailwind-html{
            display: flex;
            gap: 40px !important;
       
         }
         .js-vue{
            display: flex;
            gap: 40px !important;
       
         }
      }
}
@media screen and (max-width: 768px) {
     .header-text{
        display: none;
     }
    .header-info{
     display: flex;
     flex-direction: column;
     gap: 82px;
    }
    .intro-container{
        display: flex;
        flex-direction: column;
        gap: 64px;

        .info-img{
            display: flex;
            justify-content: center;
        }
    }
    .about-container{
     display: none;
       }
       .language-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       }
 }
 @media screen and (max-width: 390px) {
    .about-container{
        display: flex;
        flex-direction: column;

        .about-scroll{
            display: none !important;
        }
        .about-header{
            display: flex;
            justify-content: center;
            align-items: center;
         
            .about-btn{
                width: 224px;
                height: 68px;
                h1{
                    font-size: 32px;
                }
            }
            .about-info{
                width: 304px;
                padding: 58px 14px;
            }
        }
          }
         
    }
    @media screen and (max-width: 550px){
        .feature-details{
               display: none !important;
      
            }
            .feature-icon{
                display: none ;
             }
}

.about-section{
    background: #1A1E23;

    .about-container{
        padding: 128px 128px;
        margin: 0 auto;
    }
    .about-scroll{
        display: flex;
        justify-content: center;
    }
    .about-header{
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    .about-btn{
        background: #292F36;
        border: 4px solid #12F7D6;
        border-radius: 40px 0px 40px 0px;
        width: 367px;
        height: 104px;
        font-family: "Ubuntu", sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
       h1{
        font-size: 64px;
        font-weight: 400;
        color: white;
       
    }
    }
    .about-info{
        padding: 58px 40px;
        background-color: #292F36;
        width: 880px;
        border-radius: 40px;
        font-family: "IBM Plex Mono", serif;
        
        h1{
            color: #12F7D6;
            font-size: 32px;
            font-weight: 400;
        }
        span{
            p{
                color: white;
                font-weight: 300;

                span{
                    color: #12F7D6;
                }
            }

        }
    }
}
.features-section{
    background: #292F36;
 
    .features-container{
        padding: 128px 128px;
        display: flex;
        flex-direction: column;
        gap: 90px;
    }
    .feature-card{
        display: flex;
        justify-content: center;
    }
    .feature-image{
      display: flex;
      justify-content: center;
    }
    .feature-details{
        width: 288px;
        height: 132px;
        background: #12F7D6;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-family: "IBM Plex Mono", serif;
        color: #292F36;
        border-radius: 0px 8px 8px 0px  ;
        
        p{
            font-size: 24px;
            text-align: center;
        }
        
    }
    .tailwind{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: fit-content; 
   
        .tailwind-img{
            background: white;
            width: 144px;
            height: 144px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            width: 50px;
        }
        h1{
            text-align: center;
            color: #0C73B8;
        }
    }
    .html{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: fit-content;
        h1{
            text-align: center;
            color: #E54F26;
        }
    }
    .js{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: fit-content;

        h1{
            text-align: center;
            color: #E7A020;
        }
    }
    .vue{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: fit-content;
        .vue-img{
            background: white;
            width: 144px;
            height: 144px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        img{
            width: 50px;
        }
        h1{
            text-align: center;
            color: #41B883;
        }
    }
    .language-container{
        display: flex;
        justify-content: center;
        gap: 128px;

        .tailwind-html{
            display: flex;
            gap: 128px;
        }

        .js-vue{
            display: flex;
            gap: 128px;
        }
    }
}