@import 'navbar.css';
@import 'home.css';
@import 'footer.css';



*{
    margin: 0;
    padding: 0;
}
.wrapper{
   max-width: 1920px;
}
header{
background: #292F36;
}
.header-container{
    .header-container{
        padding: 28.5px 128px;
    }
}